[project]
	description = adb and fastboot executables crosscompiled for the ARM architecture.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/blobbsen
[access "refs/for/refs/*"]
	read = group user/blobbsen
	push = group user/blobbsen
	label-Code-Review = -2..+2 group user/blobbsen
	label-Verified = -1..+1 group user/blobbsen
	rebase = group user/blobbsen
	removeReviewer = group user/blobbsen
	submit = group user/blobbsen
[access "refs/heads/*"]
	read = group user/blobbsen
	create = group user/blobbsen
	push = +force group user/blobbsen
	pushMerge = group user/blobbsen
[access "refs/tags/*"]
	push = +force group user/blobbsen
	pushTag = group user/blobbsen
	pushSignedTag = group user/blobbsen
